<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Pincodes</h4>

            </div>
        </div>
        <form [formGroup]="pincodeFormRegistration">

            <div class="row">

                <div class="col-sm-6">
                    <label for="">Pincode</label>
                    <input type="number" class="form-control" placeholder="Enter Your Pincode" [(ngModel)]="pincode" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" formControlName="pincode">

                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                        <div *ngIf="f.pincode.errors.required">Pincode is required</div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <button class="btn btn-warning" (click)="submit()">SUBMIT</button>
                </div>

            </div>
        </form>

    </div>
</div>